[Unit]
Description=Update plocate database
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/updatedb

[Install]
WantedBy=multi-user.target
