[Unit]
Description=Update pkgfile database
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkgfile --update

[Install]
WantedBy=multi-user.target
